:root {
    --sea-pink: #ecb0a1;
    --eastern-blue: #168eba;
    --hippie-blue: #559fb6;
    --akaroa: #dacab5;
    --spanish-white: #e8d7bd;
    --shakespeare: #55b2d2;
    --transparent-pink: rgb(236,176,161, 0.7);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
  /*   /* overflow: hidden;
    overflow-y: scroll; 
    scroll-behavior: smooth; */
}

a {
    text-decoration: none;
}

header,
nav {
    background-color: var(--akaroa);
}

/* Header */
header {
    display: inline;
}

h1 {
    position: fixed;
    font-size: 1.2em;
    padding: 1em;
    z-index: 2;
}

nav {
    position: fixed;
    border-bottom: 2px solid black;
    z-index: 1;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 60px;
    justify-content: flex-end;
}

nav a {
    position: relative;
    top: 5px;
    margin: 5px;
    text-decoration: none;
}

nav a:hover {
    color: var(--eastern-blue);
}

nav a:visited {
    color: black;
}

/*trying to get smooth scrolling!!!*/
main {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* Home Hello */
.home-hello {
    background-color: var(--sea-pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.home-hello h2 {
    font-size: 2em;
    position: relative;
    right: 240px;
    margin: 10px;

}

.home-hello span {
    font-size: 2em;
    margin-bottom: 0%;
}

.home-hello p {
    font-size: 2em;
    width: 600px;
    margin-top: 0%;
}

/* About Me */
.about-me {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hippie-blue);
}

.about-me h2 {
    font-size: 2em;
    margin-bottom: 10px;
    background-color: var(--hippie-blue);
    color: var(--akaroa);
    z-index: 0;
    position: relative;
    left: 146px;
    bottom: 89px;
}

#profile-pic {
    height: 450px;
    width: 338px;
    border-radius: 50%;
    position: relative;
}

.about-me p {
    background-color: var(--hippie-blue);
    font-size: 1.5em;
    line-height: 1.45em;
    color: var(--akaroa);
    text-align: justify;
    max-width: 500px;
    max-height: 300px;
    position: relative;
    bottom: 1px;
    right: 8px;
}

/* Work */

#my-work, .my-work div, .work, .work h2, .work p {
    background-color: var(--spanish-white);
    color: var(--shakespeare);
}

#my-work {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.work {
    width: max-content;
    height: max-content;
    border: 3px dashed var(--shakespeare);
    border-radius: 8%;
    padding: 2% 5% 2% 5%;
    display: flex;
    flex-direction: column;
}

.work h2 {
    font-size: 2em;
    text-decoration: none;
}

.work a:visited {
    color: var(--shakespeare);
}

.work img {
    height: 150px;
    width: 200px;
    border-radius: 10%;
}

.work img:hover {
    height: 170px;
    width: 220px;
    transition-duration: 1s;
}

.work p {
    font-size: 1.2em;
}

.language-used {
    text-align: center;
}

footer {
    text-align: center;
    color: var(--eastern-blue);
}

/* mobile-first approach, use 'min-width' values going from narrow to wide! */
@media screen and (min-width:768){
    .work {
        flex-direction: column;
        flex: 0 0 50%;
        max-width: 50%;
    }
}