:root {
    --sea-pink: #ecb0a1;
    --eastern-blue: #168eba;
    --hippie-blue: #559fb6;
    --akaroa: #dacab5;
    --spanish-white: #e8d7bd;
    --shakespeare: #55b2d2;
    --transparent-pink: rgb(236,176,161, 0.7);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
}

a {
    text-decoration: none;
}

header,
nav {
    background-color: var(--akaroa);
}

/* Header */
header {
    display: inline;
}

h1 {
    position: fixed;
    font-size: 1.2em;
    padding: 1em;
    z-index: 2;
}

/* Navigation bar is fixed to stop of screen */
nav {
    position: fixed;
    border-bottom: 2px solid black;
    z-index: 1;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 60px;
    justify-content: flex-end;
}

nav a {
    position: relative;
    top: 5px;
    margin: 5px;
    text-decoration: none;
    color: black;
}

/* When hover over navigation links, color changes to blue */
nav a:hover {
    color: var(--eastern-blue);
}

/* When visited a navigation link, color remains black */
nav a:visited {
    color: black;
}

/* Home Hello */
.home-hello {
    background-color: var(--sea-pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.home-hello h2 {
    font-size: 2em;
    position: relative;
    right: 240px;
    margin: 10px;

}

/* Large Erica Morabito on home page */
.home-hello span {
    font-size: 2em;
    margin-bottom: 0%;
}

.home-hello p {
    font-size: 2em;
    width: 600px;
    margin-top: 0%;
}

/* About Me */
.about-me {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hippie-blue);
}

.about-me h2 {
    font-size: 2em;
    margin-bottom: 10px;
    background-color: var(--hippie-blue);
    color: var(--akaroa);
    z-index: 0;
    position: relative;
    left: 97px;
    bottom: 106px;
}

#profile-pic {
    height: 450px;
    width: 338px;
    border-radius: 50%;
    position: relative;
}

.about-me p {
    background-color: var(--hippie-blue);
    font-size: 1.5em;
    line-height: 1.45em;
    color: var(--akaroa);
    text-align: justify;
    max-width: 500px;
    max-height: 300px;
    position: relative;
    right: 36px;
}

/* Work */

/* Background color spanish white */
#my-work, 
.my-work div, 
.work, 
.work h2, 
.work p {
    background-color: var(--spanish-white);
    color: var(--shakespeare);
}

#my-work {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* Each Project Square */
.work {
    width: 350px;
    height: max-content;
    border: 5px solid var(--shakespeare);
    border-radius: 10%;
}

.work h2 {
    text-align: left;
    font-size: 1.3em;
    text-decoration: none;
    position: relative;
    top: 90px;
    padding-left: 4px;
    color: var(--shakespeare);
}

/* When visited a link, the link remain the blue font color */
.work a:visited {
    color: var(--shakespeare);
}

/* Each image of projects */
.work img {
    height: 170px;
    width: 220px;
    border-radius: 10%;
    position: relative;
    left: 185px;
    z-index: 1;
}

.work img:hover {
    height: 180px;
    width: 230px;
    transition-duration: 1s;
}

.language-used {
    text-align: left;
    display: block;
    position: relative;
    bottom: 85px;
    padding-left: 4px;
}

/*Contact in the footer */
footer {
    background-color: var(--sea-pink);
    color: black;
    font-size: 1.2em;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    color: black;
}

#contact h2 {
    position: relative;
    top: 16px;
    right: 36px;
}

#contact p {
    display: inline;
    margin: 20px;
    position: relative;
    left: 100px;
    bottom: 10px;
}

/* When links in footer visited, they remain their black color */
#contact a:visited {
    color: black;
}

/* When links in footer hovered over, they turn blue */
#contact a:hover {
    color: var(--eastern-blue);
} */

/* Responsive Design */

/* For mobile phones */
@media screen and (max-width:768px){
        .work {
           flex: 0 0 100%;
        }
} 


/*For tablets */
@media screen and (min-width:600px){
    .work {
        flex: 0 0 50%;
    }
}

/* For desktop */
@media screen and (min-width:768px) {
    .work {
       flex: 0 0 33%;
    }
} 
